.aboutMe {
    margin-left: 5px;
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: white;
    background-color: rgb(166, 113, 216);
}

.intrests {

    margin-left: 5px;
    border: 1px solid rgb(166, 113, 216);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    color: rgb(166, 113, 216);
    background-color: #DBDBDB;
    margin-top: 3px;

}